# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan

# Mantener el lock de Terraform
# .terraform.lock.hcl sí se sube al repositorio

# Dependencias de Node
node_modules/

# Archivos ZIP generados para Lambda
*.zip

# Variables y archivos con datos sensibles
.env
.env.*
!.env.example

# Configuración del editor
.vscode/
.idea/

# Archivos del sistema
Thumbs.db
.DS_Store